@import '../common/styles/sass/variables';
@import '../common/styles/sass/mixins';
@import '../common/components/button/Button.module.scss';

.contactBlock {
  padding: 20px 0;
  background-color: $backGroundColor2;

  .container {
    @include container();
    @include flex(column, flex-start, center, nowrap);

    .form {
      @include flex(column, flex-start, stretch, nowrap);
      width: 400px;
      margin-top: 60px;
      @media screen and (max-width: 680px) {
        width: 100%;
      }

      .formArea,
      .messageArea {
        background: $backGroundColor1;
        border: 0.5px solid #4a4a4a;
        //box-sizing: border-box;
        @include text($fontFamilyPoppins, 12px, 1.5, 400);
        outline: none;
        border-radius: 5px;
        color: #495057;
        font-size: 18px;
        margin-bottom: 1.2rem;
        &:-webkit-autofill {
          border: 1px solid #4a4a4a;
          -webkit-text-fill-color: #455057;
          -webkit-box-shadow: 0 0 0 1000px #252527 inset;

          &:focus {
            border: 2px solid $backGroundColor1
          }
        }
      }

      .formArea {
        height: calc(1.5em + 0.75rem + 2px);
        padding: .4rem 15px;

        &:focus {
          border: 1px solid transparent;
          transition: all 0.4s ease-in-out 0s;
        }
      }

      .messageArea {
        min-height: 120px;
        padding: 15px;
        resize: none;

        &:focus {
          border: 1px solid transparent;
          transition: all 0.4s ease-in-out 0s;
        }
      }

      button[type="submit"] {
        @extend .button;
        align-self: center;
        background-color: transparent;
        cursor: pointer;
        margin-top: 30px;
      }
    }
  }
}