@import './../common/styles/sass/variables';
@import './../common/styles/sass/mixins';


.nav {
  width: 450px;
  @include flex(row, space-between, stretch, nowrap);

  a {
    @include text($fontFamilyJosefin, 17px, 1.2, 600);
    cursor: pointer;
    color: $textColor;

    &:hover {
      text-decoration: none;
      color: $primaryColor
    }
  }

  .active {
    color: $primaryColor
  }

  @media screen and (max-width: 400px) {
    display: none;
  }
}

